<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>
<h3>이 화면에 진입할 때 SimpleVO 클래스를 화면에 출력해줍니다</h3>
<pre>
    SimpleVO는 생성하면 됩니다.
    int 회원번호
    String 이름
    LocalDateTime 가입일
    을 가집니다.

    아래에서 회원정보확인 링크를 만들고 quiz_result?키=값 형태로 회원번호와 이름을 남겨줍니다.

    result 페이지 에는 회원번호와 이름을 출력해주세요.
</pre>

<!--<ul>-->
<!--    <li th:each="vo : ${list}">-->
<!--        &lt;!&ndash; 쿼리스트링으로 파라미터 넘기기 &ndash;&gt;-->
<!--        <a th:href="@{/view/quiz01_result(mno=${vo.mno}, name=${vo.name})}">-->
<!--            회원번호: <span th:text="${vo.mno}">회원번호</span>, 이름: <span th:text="${vo.name}">이름</span>-->
<!--        </a>-->
<!--    </li>-->
<!--</ul>-->
<h3>회원정보</h3>
번호 : [[${info.mno}]] <br>
이름 : [[${info.name}]] <br>
가입일 : [[${info.hiredate}]] <br>

<a href="" th:href="@{/view/quiz01_result(mno=${info.mno},name=${info.name})}">회원정보링크</a>

</body>
</html>
